<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # If the requested resource doesn't exist as a file or directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Route to public folder
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
